.categories {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url('./images/bg.png');
  background-repeat: round;
  display: flex;
}
.category {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  box-shadow: 10px 14px 36px -5px rgba(0,0,0,0.29);
  padding: 70px 25px 70px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #9a8691;
  text-decoration: none;
  border-bottom: 5px solid rgba(0,0,0,0);
  &:hover {
    border-color: #d93c3c;
  }
}

.color {
  &_white {
    background-color: #ffffff;
    color: #9a8691;
    .dot {
      background-color: #f8603f;
    }
  }
  &_begue {
    background-color: #e5dad7;
    .dot {
      background-color: #ffffff;
    }
  }
  &_dark_perple {
    background-color: rgba(45, 35, 44, .7);
    .dot {
      background-color: #ae9b9f;
    }
  }
  &_perple {
    background-color: rgba(72, 61, 71, .7);
    .dot {
      background-color: #ec6d6d;
    }
  }
}

.box_image {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__img {
    align-self: center;
  }
  &__text {
    font-size: 30px;
    font-family: 'ChopinScript'
  }
}

.text {
  line-height: 22px;
  font-family: tahoma;
  font-size: 11px;
  text-align: center;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 17px;
}
