:local(.page_wrapper) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/tea_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

:local(.card_wrapper) {
  display: flex;
  height: 540px;
  border-radius: 4px;
  background: rgba(53, 60, 74, 0.95);
}

:local(.left_info) {
  width: 520px;
  border-radius: 4px 0 0 4px;
  background: url('./images/left_info_bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 0px 30px 0px rgba(0, 0, 0, 0.7);
}

:local(.cup) {
  width: 64px;
  height: 68px;
  margin-top: 130px;
}

:local(.title_wrapper) {
  margin-top: 20px;
}

:local(.title) {
  font-family: Segoe Script;
  font-size: 30px;
  color: #d1e450;
  font-weight: bold;
}

:local(.title_after) {
  font-family: Calibri;
  font-size: 14px;
  color: #dadada;
  font-weight: bold;
  font-style: italic;
  margin-left: 10px;
}

:local(.title_description) {
  margin-top: 10px;
  font-family: Calibri;
  color: #767f93;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  width: 296px;
}

:local(.github_wrapper) {
  display: flex;
  justify-content: flex-start;
  margin-top: 110px;
}

:local(.github) {
  width: 28px;
  height: 27px;
  margin-right: 15px;
  align-self: center;
}

:local(.github_description) {
  font-family: Calibri;
  color: #767f93;
  font-style: italic;
  font-size: 14px;
}

:local(.github_link) {
  font-family: Calibri;
  font-size: 12px;
  text-decoration: underline;
  color: #50dfe4;
  cursor: pointer;
}

:local(.copyright_wrapper) {
  margin-top: 20px;
}

:local(.copyright) {
  font-family: Calibri;
  font-size: 12px;
  color: #485266;
}

:local(.author_link) {
  font-size: 12px;
  font-family: Calibri;
  font-weight: bold;
  color: #45a781;
  text-decoration: underline;
  cursor: pointer;
}

:local(.form_wrapper) {
  display: flex;
  width: 420px;
  flex-direction: column;
}

:local(.tabs) {
  display: flex;
  justify-content: center;
  height: 74px;
  align-items: center;
  border-bottom: 1px solid #4a5365;
  margin: 0 18px;
}

:local(.tab) {
  font-family: Calibri;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #959ca6;
  margin: 0 20px;
  cursor: pointer;
  text-decoration: none;
}

:local(.tab_active) {
  font-family: Calibri;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin: 0 20px;
  cursor: pointer;
  text-decoration: none;
}

:local(.form_container) {
  margin: 5px 40px 0 40px;
}
