:local(.overlay) {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

:local(.wrapper) {
  display: flex;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #6fbcae;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  background: url('./images/bg.jpg') no-repeat center center;
  background-size: cover;
  background-blend-mode: screen;
  position: relative;
}

:local(.preloader) {
  width:35px;
  height:35px;
  display:inline-block;
  padding:0px;
  margin-right: 20px;
  border-radius:100%;
  border:2px solid;
  border-top-color:rgba(255, 255, 255, 0.65);
  border-bottom-color:rgba(255, 255, 255, 0.15);
  border-left-color:rgba(255, 255, 255, 0.65);
  border-right-color:rgba(255, 255, 255, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:local(.info_wrapper) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 20px;
}

:local(.info_title) {
  font-family: Calibri;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

:local(.info_description) {
  font-family: Calibri;
  font-style: italic;
  text-transform: capitalize;
  color: white;
  font-size: 13px;
}
