:local(.label) {
  font-family: Calibri;
  font-size: 11px;
  font-weight: bold;
  color: #646974;
  text-transform: uppercase;
  margin-left: 10px;
}

:local(.label_description) {
  margin-left: 10px;
  font-family: Calibri;
  font-weight: bold;
  font-size: 13px;
  font-style: italic;
  color: silver;
}

:local(.input) {
  margin-top: 5px;
  background-color: #49505f;
  border: none;
  line-height: 38px;
  border-radius: 4px;
  font-family: Calibri;
  font-size: 16px;
  padding-left: 10px;
  width: 100%;
  color: #6e9bc3;
  box-sizing: border-box;
}

:local(.input::placeholder) {
  font-style: italic;
  font-family: Calibri;
  font-size: 14px;
  color: #2c3139 !important;
}

:local(.inputWrapper) {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

:local(.error) {
  font-family: Calibri;
  margin: 10px 10px 0 10px;
  font-size: 13px;
  font-weight: bold;
  color: #ff7575;
}
